<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <title>
        {% block title_block%}
            Rango
        {% endblock %}
        </title>
    </head>

    <body>
        <h1>Rango says...</h1>

        <div>
            {% if user.is_authenticated %}
                Hello!  {{ user.username }}!
            {% else %}
                hey there partner!
            {% endif %}
        </div>
        <div>
            <ul>
                {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}">Logout</a></li>
                <li><a href="{% url 'add_category' %}">Add a New Category</a></li>
                <li><a href="{% url 'restricted' %}">Restricted Page</a></li>
                {% else %}
                <li><a href="{% url 'login' %}">Sign In</a></li>
                <li><a href="{% url 'register' %}">Sign Up</a></li>
                {% endif %}
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'index' %}">Index</a></li>
            </ul>
            </div>
        <div>
        <h2>Most Liked Categories</h2>
		    <p>
        {% if categories %}
        <ul>
            {% for category in categories %}
            <!-- Following line changed to add an HTML hyperlink -->
            <li>
                <a href="{% url 'show_category' category.slug %}">{{ category.name }}</a>
            </li>
            {% endfor %}
        </ul>
        {% else %}
            <strong>There are no categories present.</strong>
        {% endif %}
        </div>

        <div>
			<h2>Most Viewed Pages</h2>
			<p>
			{% if pages %}
			    <ul>
			{% for page in pages %}
                <li><a href="{{ page.url }}">{{ page.title }}</a></li>
			    {% endfor %}
			</ul>
			{% else %}
			    <strong>There are no pagies present.</strong>
			{% endif %}
			</p>
		</div>
            
        <div>
            {% if user.is_authenticated %}<p><a href="{% url 'add_category' %}">Add a New Category</a></p>{% endif %}
            <a href="{% url 'about' %}">About</a>
            <h3><p>visits: {{ visits }}</p></h3>
            <img src="{% static "images/rango.jpg" %}" alt="Picture of Rango" />
        </div>
    </body>
</html>